@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

@layer base {
  @font-face {
    font-family: 'Imperial Script';
    font-weight: 400;
    src: url(/assets/fonts/Imperial_Script/ImperialScript-Regular.ttf) format('truetype');
  }
}